.DS_Store
Capfile

doc/api
doc/app
doc/plugins

index/*

tmp/*
tmp/**/*

log/*.log

public/imageupload
public/documents
public/stylesheets/cache/*
public/javascripts/cache/*
public/plugin_assets

db/*.sqlite3
db/data.yml

config/settings.yml
config/database.yml
config/deploy.rb
config/newrelic.yml
