log/*.log
.DS_Store
doc/api
doc/app
index/*
doc/plugins
tmp/**/*
public/imageupload
public/documents
public/stylesheets/application.css
public/javascripts/all.js
public/stylesheets/template/*.css
db/*.sqlite3
Capfile
config/settings.yml
template/**/*
