log/*.log
.DS_Store
doc/api
doc/app
index/*
doc/plugins
tmp/*
tmp/**/*
public/imageupload
public/images/template
public/documents
public/stylesheets/cache/*
public/javascripts/cache/*
public/plugin_assets
public/stylesheets/template/*.css
db/*.sqlite3
Capfile
config/settings.yml
config/database.yml
config/deploy.rb
template/**/*
