<div id="archive">
  <% cache "page-#{@page.id}-archive" do -%>
  
	  <h3>Archive</h3>
	  <% classname.constantize.archive_links.each do |year, dates| %>
	  	<div class="year">
	  	<h4 class="year"><%= link_to year, annual_archive_path(@page, year) %></h4>
	  	
	  	<% dates.group_by { |m| m.created_at.strftime('%B')}.each do |month, items| %>
	  	  <h4 class="month">
	  	    <%= link_to "#{month} (#{items.size})", archive_path(@page, Date.parse(month).month, year) %>
	  	  </h4>
	    <% end -%>
	    
	    </div>
	  <% end -%>
	
	<% end -%>
	
	<%= seed_page_components %>
</div>