<% if @page.parent && !@page.parent.parent_id.nil? %>
 <ul>
  <li><%= link_to @page.parent.name, resources_path(@page.parent) %></li>
 </ul>
<% end -%>

<ul>
  <% flatmenu.each do |item| %>
    <li><%= link_to item.name, resources_path(item) %></li>
    <% item.children.each do |child| %>
      <li class="sub"><%= link_to child.name, resources_path(child) %></li>
    <% end -%>
  <% end -%>
</ul>