body { 
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.3em;
	width: 80%;
	margin: 0 auto;
	background-color: #fff; 
	color: #333;
}

a { color: #4488bb; }
a:visited { color: #4488bb; }
a:hover { color: #000; }

div#menu ul {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	font-size: 12px;
}
div#menu ul.child {
	margin-left: 10px;
}
div#menu ul#menupages {
	border-top: 1px solid #ccc;
}
ul#menupages span.seed-edit-tag {
	position: absolute;
	left: 0;
	bottom: -30px;
}
div#menu li {
	display: block;
	padding: 0.5em 0 0.5em 0;
	height: 1.3em;
	border-bottom: 1px solid #ccc;
}
div#menu li a {
	text-decoration: none;
}
div#head {
	height: 60px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
div#head span.seed-admin-tag {
	position: absolute;
	right: 0;
	bottom: 0;
}

/*** Admin Tag Styles ***/
form.seed-admin {
	background: red;
	width: 80%;
	padding: 1em;
	border: 1px solid #e9e9e9;
	background-color: #f8f8f8;
}
form.seed-admin label {
	float: left;
	width: 20%;
	color: #666;
}
form.seed-admin fieldset {
	border-width: 0;
	padding: 0;
}
form.seed-admin div.input-row {
	margin-bottom: 5px;
	padding-bottom: 5px;
}
form.seed-admin div.input-row input, form.seed-admin div.input-row textarea {
	width: 70%;
}

div#seed-admin-form h2 {
	margin-top: 0;
}

.seed-admin-tag {
	font-size: 10px;
	color: #666;
	background: #f0f0f0;
}
.seed-admin-tag a {
	text-decoration: none;
	margin: 0 3px 0 3px;
}
.seed-admin-tag a:hover {
	background-color: transparent;
	color: red;
}
.seed-edit-tag {
	float: right;
}
/**************************/

/*** Articles ***/
div.article {
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 20px;
}
div.article h3 {
	margin: 1em;
}
div.article p {
	margin: 1em;
}
div#left {
	float: left;
}
div#right {
	margin-left: 200px;
	min-height: 400px;
	padding: 20px;
	border-left: 1px solid #ccc;
}
div#foot {
	border-top: 1px solid #ccc;
	padding: 20px;
	clear: both;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
span#flashnotice {
	position: absolute;
	right: 0;
	color: green;
}

