/* default.css
   Edit or overide these styles 
   to create a custom layout
*/

/********* Tag Defaults ***********/

a { color: #4488bb; }
a:visited { color: #4488bb; }
a:hover { color: #000; }
table {width:100%;}
table td { border: 1px solid #ddd}
h1 {font-size: 22px;}
h2 {font-size: 18px;}
h3 {font-size: 12px; margin: 0.5em 0;}
h4 {font-size: 11px; margin: 0.5em 0;}
p {margin: 1em 0;}

/********* Create Tags* ***********/

div#head span.seed-admin-tag {
	position: absolute;
	right: 0;
	bottom: 0;
}
div#head span.seed-admin-tag a {
	border-left: 10px;
	background: #f0f0f0;
}

/********** Page Layout ***********/

body { 
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.3em;
	background-color: #fff; 
	color: #333;
	min-width: 850px;
}
div#container {
	width: 80%;
	margin: 0 auto;
}
div#head {
	height: 50px;
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
	div#head div#search {
		float: right;
		width: 25%;
		white-space: nowrap;
	}
	div#head h1 {
		margin: 0;
	}
div#left {
	float: left;
	width: 18%;
}
div#right {
	width: 75%;
	right: 0;
	padding: 20px;
	border-left: 1px solid #ccc;
	float: right;
	min-height: 450px;
	height: auto !important;
	height: 450px;
}
	div#leftcol {
		float: left;
		width: 75%;
	}
	div#rightcol {
		float: right;
		width: 20%;
	}

div#foot {
	border-top: 1px solid #ccc;
	padding: 20px;
	clear: both;
}

/************* Search **************/
div#search-results h2 {
	border-bottom: 1px solid #ddd;
	padding: 0 0 1em 0;
}
div#search-results h3 {
	font-weight: normal;
}
div#search-results div.result-group {
	margin-bottom: 4em;
}
div#search-results p strong.highlight {
	background-color: #ffff66;
}

/************ Resources ************/

div.article, div.newsitem, div.post, div.event {
	border-top: 1px solid #e9e9e9;
	margin-bottom: 20px;
	padding: 1em;
}
div.article h2, div.newsitem h2, div.post h2, div.event h2 {
	margin: 1em 0;
	font-size: 16px;
}
div.article p, div.newsitem p, div.post p, div.event p {
	margin: 1em 0;
}
div.article a, div.newsitem a, div.post a, div.event a {
	text-decoration: none;
}

/*********** News & Blog **********/
div#news, div#blog {
	position: relative;
}
div#news div#newsitems, div#blog div#blogposts {
	width: 75%;
}
div#archive {
	position: absolute;
	top: 0;
	right: 0;
	width: 20%;
	font-size: 0.9em;
	border-top: 1px solid #ddd;
	text-align: right;
}
div#archive div.year {
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
}
div#archive h4 {
	margin: 0 0 0.5em 0;
	font-weight: normal;
}
div#archive h4.year a {
	color: #666;
}

/************ Comments ************/
div.comment {
	background: #f8f8f8;
	border-top: 1px solid #ddd;
	padding: 1em;
}
div.comment.even {
	background: #fbfbfb;
}

/*********** Components ***********/
div#components {
	text-align: left;
}
div.component {
	border-bottom: 1px solid #ddd;
	padding: 0 0 1em 0;
}

/*********** Main Menu ************/
ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	border-top: 1px solid #ccc;
	margin-top: 20px;
}
ul.menuchild {
	padding-left: 1.5em;
	margin: 0.5em 0 -0.5em 0;
	list-style: none;
}
div#secondary-menu ul.menu  {
	margin-top: 45px;
}
ul.menu li {
	border-bottom: 1px solid #ccc;
	white-space: nowrap;
	padding: 0.5em 0;
}
ul.menuchild li {
	border-width: 0;
	border-top: 1px solid #ccc;
}
ul.menu li a {
	text-decoration: none;
}
ul.menu li.add a {
	color: #999;
}

/******** Horizontal Menu *********/
div.horizontal-menu {
	height: 24px;
}
div.horizontal-menu ul.menu, div.horizontal-menu ul.menuchild {
	margin: 0;
	border-width: 0;
	float: left;
	background: #ffffff;
	width: 100%;
}
div.horizontal-menu ul.menu {
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin: 0px !important;
	z-index: 10; /* for IE */
	position: relative; /* for IE */
}
div.horizontal-menu ul.menu li {
	float: left;
	border-width: 0;
	padding: 0.5em 1em;
	border-right: 1px solid #ddd;
}
div.horizontal-menu ul.menuchild {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 28px;
	white-space: nowrap;
	background: #999;
	width: auto;
	z-index: 1;
}
div.horizontal-menu ul.menuchild li {
	border-width: 0;
	border-bottom: 1px solid #ddd;
	background-color: #f9f9f9;
	white-space: nowrap;
	float: none;
	z-index: 1;
	position: relative;
}
div.horizontal-menu ul.menuchild li a {
	z-index: 1;
	position: relative;
}

/********** Pagination ***********/
.pagination {
  	padding: 3px;
  	margin: 3px;
  	text-align: center;
}
.pagination a {
  	padding: 1px 5px 1px 5px;
  	margin: 2px;
  	border: 1px solid #ccc;
  	text-decoration: none;
}
.pagination a:hover, .pagination a:active {
  	border: 1px solid #4488bb;
  	color: #333;
}
.pagination span.current {
  	padding: 1px 5px 1px 5px;
  	margin: 2px;
  	border: 1px solid #4488bb;
  	font-weight: bold;
  	background-color: #4488bb;
  	color: #fff;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

/************ Calendar ***********/

table.calendar {
  margin: 0 0 20px 0;
}
.monthName th {
  font-weight: normal;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 0.7em;
}
.dayName th {
  font-size: 0.7em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  background-color: #303030;
  color: white;
}
.otherMonth, .day, .specialDay {
  padding: 0.7em 1em;
  border-right: 1px solid white;
}
.otherMonth {
  color: #eeeeee;
  background-color: white;
}
.day, .specialDay {
  text-align: center;
  border-bottom: 1px dotted #bbbbbb;
  background-color: #bbccff;
}
.specialDay {
  background-color: #003355;
  color: white;
}
.specialDay a, .specialDay a:visited, .specialDay a:hover {
  color: white;
  text-decoration: none;
  padding: 1em;
}
.specialDay a:hover {
  color: white;
  background-color: black;
}
.weekendDay {
  background-color: #ffffdd;
}
.weekendDay.specialDay {
  background-color: #ffffee;
  color: #666;
}
.today{
  background-color: #4682b4;
}