/* seed.css
   base admin styles
*/

/********* Tag Defaults **********/

fieldset {
	border-width: 0;
	padding: 0;
	position: relative;
}
textarea, select { margin: 0;}
a { color: #4488bb; }
a:visited { color: #4488bb; }

/************ User Bar *************/

ul#seed-user-bar {
	font-size: 12px;
	margin: 0;
	padding: 0 10px 0 5px;
	list-style: none;
	background-color: #444;
	height: 36px;
	border-bottom: 1px solid #000;
	background-image: url('../images/bg/dark_grey_diag.png');
}
ul#seed-user-bar li {
	float: left;
	padding: 8px 7px 0 7px;
	margin: 3px 5px 0 0;
	color: #ccc;
	position: relative;
	z-index: 1000;
	height: 25px;
	display: inline; /* for IE 6 */
}
ul#seed-user-bar li.add-stuff {
	background-color: #4488bb;
	padding-right: 25px;
	padding-left: 25px;
}
ul#seed-user-bar li.img {
	padding: 0;
}
ul#seed-user-bar li.right {
	float: right;
}
ul#seed-user-bar li.hover {
	color: #fff;
	cursor: pointer;
}
ul#seed-user-bar li.edit-page {
	margin: 3px 3px 0 8em;
	border-left: 1px solid #333;
	padding-right: 1em;
}
ul#seed-user-bar li.first {
	margin-left: 10px;
}
ul#seed-user-bar li.plain {
	background: #4f4f4f;
}
ul#seed-user-bar ul.sub {
	display: none;
	margin: 0;
	position: absolute;
	list-style: none;
	padding: 0;
	left: 0;
	top: 33px;
	width: 200px;
	z-index: 1;
	background: #4488bb;
	border-top: 1px solid #333;
}
ul#seed-user-bar li:hover ul.sub, ul#seed-user-bar li.over ul.sub { 
	display: block;
}
ul#seed-user-bar ul.sub li {
	background: transparent;
	display: block;
	margin: 0;
	float: none;
	height: 24px;
	padding: 8px 20px 0 25px;
	white-space: nowrap;
	border-bottom: 1px solid #666;
}
ul#seed-user-bar ul.sub li a:hover {
	color: #fff;
}
ul#seed-user-bar a {
	text-decoration: none;
	color: #ccc;
}
ul#seed-user-bar img {
	float: left; /* for IE 6 */
	margin: 0;
	padding: 0;
}
ul#seed-user-bar a:hover {
	color: #4488bb;
}

/************* Forms ***************/

h2.admin {
	font: 18px Georgia, "Times New Roman", serif; 
	letter-spacing: 1px;
}
form.seed-admin { 			
	padding: 1em;
	border: 1px solid #dbe2e8;
	background-color: #f1f4f6;
	margin: 0 0 2em 0;
}
form.seed-admin label {
	float: left;
	width: 25%;
	color: #666;
	margin: 3px 0 0 0;
	font-weight: normal;
}
form.seed-admin p {
	margin: 0 0 0 25%;
	width: 80%;
}
form.tight p {
	margin: 0;
}
form.seed-admin legend {
	padding: 0 0 10px 0;
}
form.seed-admin a {
	text-decoration: none;
}
form.seed-admin div.input-row {
	padding: 5px 0
}
form.tight label, form.ajax label {
	float: none;
	display: block;
	color: #666;
	margin-bottom: 1px;
	width: 100%;
}
form.seed-admin div.input-row select {
	margin: 0;
}
form.seed-admin div.input-row input,
form.seed-admin div.input-row textarea {
	width: 70%;
	margin: 0;
}
form.tight div.input-row input,
form.tight div.input-row textarea {
	width: 97%;
}
div.submit {
	margin: 2em 0;
}

/*********** Ajax Forms *************/
div#seed-admin-form img#spinner {
	position: absolute;
	left: 350px;
	top: 40px;
}
form.ajax {
	width: 375px;
	margin-top: 1em;
}
form.seed-admin #ajax {
	margin-top: 1em;
}
form.seed-admin #ajax label {
	margin-bottom: 0.5em;
}

/********** Comments Form ***********/
form.seed-admin div.commentable-row {
	margin-bottom: 10px;
}
form.comment textarea, textarea.compact {
	height: 90px;
}

/********** Events Form *************/
form.seed-admin div.input-row input.date {
	width: 220px;
}
div.cds_footer {
	display: none;
}

/********** Form Tab Menu **********/
ul#formtabs {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	height: 19px;
}
ul#formtabs li {
	float: left;
}
ul#formtabs li a {
	float: left;
	padding: 2px 10px 0 10px;
	margin-right: 2px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 0px solid #fff;
	text-decoration: none;
	height: 16px;
	background-image: url('../images/icons/grad_1px.gif');
	background-position: 0 -184px;
	color: #999;
}
ul#formtabs li a.selected {
	background-image: url('../images/icons/grad_1px.gif');
	background-position: 0 -234px;
	color: #4488bb;
}

/********** Form Sidebar ***********/

div#image-control a.add {
	text-decoration: none;
	display: block;
	font-size: 0.9em;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #ddd;
	background-image: url('../images/icons/grad_1px.gif');
	background-position: 0 -185px;
}
div#seed-notes {
	border: 1px solid #dbe2e8;
	background-color: #f1f4f6;
}
div#seed-notes p {
	margin: 5px;
	font-size: 0.9em;
	color: #666;
}
div#seed-notes a {
	text-decoration: none;
}
div#seed-notes h4, div#seed-notes h5 {
	margin: 5px;
	font-size: 0.9em;
	color: #555;
}

/********* Page Index ************/
div.page-control ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
div.page-control li {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
div.page-control ul span {
	float: left;
	width: 32%;
	height: 22px;
	line-height: 22px;
	padding: 3px 0 3px 1%;
	border-bottom: 1px solid #ccc;
	background-color: #f1f4f6;
}

div.page-control ul#titles li span, div.page-control ul#titles2 li span {
	background-color: #fff;
	font-weight: bold;
}
div.page-control ul#titles2 li span {
	margin-top: 20px;
}
div.page-control ul.child li span {
	background-color: #f9f9f9;
}
div.page-control ul.child span.name {
	padding-left: 3%;
	width: 30%;
}
div.page-control ul.subchild li span {
	background-color: #fff;
}
div.page-control ul.subchild span.name {
	padding-left: 5%;
	width: 28%;
}

/******* CRUD Anchor Tags **********/

.seed-admin-tag { 				
	font-size: 11px;
	color: #666;
	background: #f0f0f0;
}
.seed-admin-tag a {
	text-decoration: none;
	margin: 0 3px 0 3px;
}
.seed-admin-tag a:hover {
	background-color: transparent;
}
.seed-edit-tag {
	float: right;
}
div.button {
	margin: 0 0 1em 0;
}

/********* Document Admin *********/
div#form-documents {
	margin-top: 1em;
}
div#form-documents a.button {
	display: block;
	border: 1px solid #ddd;
	width: 200px;
	text-decoration: none;
	text-align: center;
	padding: 0 1em;
	background-image: url('../images/icons/grad_1px.gif');
	background-position: 0 -185px;
}
table#document-table {
	margin-top: 1em;
}

/*********** User Admin ***********/
div#user {
	width: 600px;
	margin-top: 2em;
	color: #666;
}
div#user p {
	margin: 0 0 3px 0;
	padding-left: 1em;
	padding-bottom: 3px;
	border-bottom: 1px solid #ddd;
}

/*********** Users Admin **********/
div#seed-role-menu {
	border-bottom: 1px solid #ddd;
	padding-bottom: 0.5em;
	text-align: right;
	margin-bottom: 1em;
}
div#seed-role-menu select {
	min-width: 200px;
}
div#user-grp-form {
	background-color: #f0f0f0;
	padding: 5px 2px;
	margin: 5px 0 10px 0;
}
div#user-grp-form input.text {
	margin: 0 20px 0 0;
}
div#user-grp-error div {
	margin: 5px 2px 0 2px;
	color: red;
}

/********** Image Admin **********/

.seed-image-item {
	float: right;
	border: 1px solid #ccc;
	font-weight: normal;
	margin: 0 5px 5px 0;
	position: relative;
	text-align: center;
}
.seed-image-item img {
	float: left;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.seed-image-item a {
	margin: 0;
	padding: 0 5px;
	opacity: 0.7;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fff;
	border-bottom: 0px #fff;
	text-decoration: none;
}
.seed-image-item a:hover {
	color: #fff;
	background: #4488bb;
}

/******** Error Messages *********/

div.fieldWithErrors label {
  	color: red;
}
div.fieldWithErrors input {
	background: #ffdddd;
}
#errorExplanation {
  	border: 1px solid red;
  	padding: 7px;
  	padding-bottom: 6px;
  	margin-bottom: 20px;
  	background-color: #f0f0f0;
  	font-size: 10px;
}
#errorExplanation h2 {
  	text-align: left;
  	font-weight: bold;
  	font-size: 11px !important;
  	padding: 5px 5px 5px 15px;
  	font-size: 12px;
  	margin: -7px !important;
  	background-color: #c00;
  	color: #fff;
}
#errorExplanation p {
  	color: #333;
  	margin: 10px 0 0 0;
  	padding: 5px;
}
#errorExplanation ul li {
  	list-style: square;
}
ul#ajax-error {
	margin: 0;
	padding: 0;
}
div#flash-notice, div#flash-warning, div#flash-error, div#flash-test, div#flash-public {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 12px;
	padding: 11px 0 0 0;
	height: 24px;
	color: #333;
	border-bottom: 1px solid #ddd;
	text-align: center;
	z-index: 1000;
	background: #444;
	background-image: url('../images/bg/grey_diag.png');
}
div#flash-error {
	top: 0;
}

