<div id="seed-admin-form">
<h2>Page Settings</h2>

<%= render :partial => "form", :locals => {:submit => "Update"} %>
</div><br />

<%= link_to "Delete this page", page_path(@page), 
      :confirm => 'Delete this page and all associated content?', 
      :method => :delete, 
      :title => "Delete this page and all associated content" %>
