<strong id="role-name"><%= @role.name %></strong>	|  <span id="role-description"><%= @role.description %></span><br />

<div id="user-grp-form">
<% form_remote_tag :url => {:action => "assign_role", :id => @role.id} do %>
  <%= text_field_with_auto_complete :user, :name, :class => "text" %>
  <%= submit_tag "Add User to this group", :class => "sbmt" %>
<% end -%>
<div id="user-grp-error"></div>
</div>
